<a href="https://colab.research.google.com/github/SyedShoaibAli/Shoaib---Repositary/blob/main/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Linear Regression
Load the `housing` dataset. Split it into training and test sets. Train and test a linear regression model using scikit-learn. Check the documentation to identify the most important hyperparameters, attributes, and methods of the model. Use them in practice.

# Importing Modules

In [ ]:
import pandas as pd
import sklearn.model_selection
import sklearn.linear_model
import sklearn.metrics

# Loading the Dataset

In [ ]:
# df = pd.read_csv('housing.csv')
# remove "id" column
df = pd.read_csv('housing.csv')
df = df.drop("id", axis=1)
df.head()

      price  area  bedrooms  ...  parking  prefarea  furnishingstatus
0  13300000  7420         4  ...        2         1               1.0
1  12250000  8960         4  ...        3         0               1.0
2  12250000  9960         3  ...        2         1               0.5
3  12215000  7500         4  ...        3         1               1.0
4  11410000  7420         4  ...        2         0               1.0

[5 rows x 13 columns]

# Splitting the Data into Training and Test Sets

In [ ]:
x = df.drop("price", axis=1)
y = df["price"]
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x,y)

print("The size of x_train: ", x_train.shape)
print("The size of y_train: ", y_train.shape)
print("The size of x_test: ", x_test.shape)
print("The size of y_test: ", y_test.shape)

The size of x_train:  (408, 12)
The size of y_train:  (408,)
The size of x_test:  (137, 12)
The size of y_test:  (137,)

# Training a Model

In [ ]:
model = sklearn.linear_model.LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

# Testing the trained model

In [ ]:
# Actual prices of our test data points are stored in y_test
y_predicted = model.predict(x_test)
# y_predicted 

mse = sklearn.metrics.mean_squared_error(y_test,y_predicted)
mse

970445771368.1207